 # <ins> Extracting a Single Column From Pandas DF object </ins> #
 
 #### <ins> 1st Approach </ins>  ####
 
 - here we will learn how to `extract or select` a `single column` from the `Pandas DF object`
 - using the `column header` with the `.` operator we can get the single column value 
 - we can apply the same using the pandas DF object as below 
     ```
         import pandas as pd #importing the pandas moddule in here
         df=pd.read_csv("<datasets address location>")
         #creating the Pandas DF object from the pandas module in this case
         <pandas Series Object>=df.<name of column header>
         #the `.` operator with the `column name` provide the `Pandas Series Object` as output
     ``` 
- we can safely say that the `Pandas DF object` is the `combination of Pandas Series Object which are glued together with a common index `
- but this is not the ideal approach to fetch the single column value from pandas DF object 
- But we can access the `column header` as `attribute` of `DF object` in order to get the `single column value in it`
- but this syntax will not going to work if the `column header name` has a `space in between them`
- it will throw a `invalid syntax` error if  we have `spaces` in the `column header name` in `Pandas Series object`
- if we are seaching for the column header which is not present in the DF object then we will endup getting the Attribute Error

 #### <ins> 2nd Approach </ins>  ####
 
 - we can access the `column name` by providing the `<column name>` in the `square bracket` as if we are accessing the `Key` from the `p[ython dictionary`
 - the syntax of that will be as 
 
     ```
         import pandas as pd #importing the pandas moddule in here
         df=pd.read_csv("<datasets address location>")
         #creating the Pandas DF object from the pandas module in this case
         <pandas Series Object>=df["<column header name>"]
         # the `["<column header>"]` operator with the `column name` provide the `Pandas Series Object` as output
     ``` 
- in case `Pandas Series Object` we are using this approach to get the `Series Value` based on `index lable or index position value`
- when we provide the `[]` then it will target the `column of the Pandas DF object` not the `index label of Pandas Series Object`
- this also return the `Pandas Serie Object in return same as . operator `
- if we are seaching for the `column header` which is not present in the `DF object` then we will endup getting the `Key Error` rather than the `Attribute Error`

In [2]:
import pandas as pd #importing the pandas module in here
df=pd.read_csv("../datasets/nba.csv")
# creating the DataFrame object from pandas module using the read_csv()
df.Name #fetching the single column using the `.` operator 
# this will return a Pandas Series Object in return with the Single valued Data
#here if wer provide a differn

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [3]:
import pandas as pd #importing the pandas module in here
df=pd.read_csv("../datasets/nba.csv")
# creating the DataFrame object from pandas module using the read_csv()
df["Name"] #fetching the single column using the `[<column name>]` operator 
# this will return a Pandas Series Object in return with the Single valued Data

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object