# <ins> Methods And Attributes Related to Pandas DataFrame Object </ins> #

- Most of the `Function and Attribute` that we have Learned in the `Pandas Series Object` will be applied to `Pandas DataFrame object` as well
- But the `Method` can operate differently on `Pandas DataFrame Object` compared to the `Pandas Series Object` as those are two different Attributes over here
- Both `Pandas Series Object and Pandas DataFrame object` have few similarity
    - both having the `index label` concept
    - both having the `row Data` concept
- But There are few difference as well
    - `Pandas Series Object` is One dimentional i.e one point of reference 
    - `Pandas DataFrame Object` is a Two Dimentional Data Structure with two reference point
    
<br/><br/>

- `Few attribute or property and Few Method or Behaviour` which is exclusive to `One Particular Object Type` which is not supported by Another Object

In [4]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
print(df) #printing the Pandas DataFrame object
df1=pd.read_csv("../datasets/nba.csv",usecols=["Name"])
#creating another DataFrame object which we will convert to the Pandas Series Object 
nba=df1.squeeze("columns")
#creating the Series Object using only one column from the DataFrame or DataSets
nba

              Name            Team  Number Position   Age Height  Weight
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0  \
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

- Like `head()/tail()` on the Pandas Series Object Pandas DataFrame object also have the `head()/tail()` which by default return the `first 3 or Last 5 values`
- we can also provide the `number of rows` we want to see in the respective `Pandas Object` by using the args as `n=<no of rows we want to see>`

In [11]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.head(n=9) #printing the first 5 object from the DataFrame object
# df1=pd.read_csv("../datasets/nba.csv",usecols=["Name"])
# #creating another DataFrame object which we will convert to the Pandas Series Object 
# nba=df1.squeeze("columns")
# #creating the Series Object using only one column from the DataFrame or DataSets
# nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0

- A `Pandas Series Object` has the `index` attribute which will provide the `RangeIndex` object with `start and stop and step ` value
- Same Like pandas Series object we also have the `Pandas DataFrame object` which will provide the `index label` when we call the `index attribute over the Pandas DataFrame Object`

In [14]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.index
# it will return the Range Index object with Start Stop and Step value 
# under the hood the Pandas DF object and Series Object refer the same RangeIndex object for index label

RangeIndex(start=0, stop=458, step=1)

- the `values` attribute over the `Pandas Series Object` return the `ndarray` object with all the Stored Value which been coming from `numpy` module which will store the values in the form of Array
- But in case of Pandas Series Object its a single dimentional Array
- Same Goes for the `Pandas DF Object` which will store the `ndarray` Object to Store the `Values od Pandas DF object`
- in case of Pandas DF object it will store the multi dimentional Array i.e Array inside multiple Array will be Stored in here which will be list of multiple list format where each row will store mnultiple values as an Array

In [15]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

- in `Pandas Series Object` we have an `shape` attribute which will provide the tuple in return 
- the returned `tuple` contains the `dimention of the Pandas Object` with `number of element inside it`
- it return the `number of rows and number of column ` in `tuple` format
- but as the `Pandas Series Object does not have any Column value` hence it will be `(<no of rows>,)`
- when we use the `shape()` on the `Pandas DF object` as it has both the `row and column` it will provide the `tuple` with both the `row and column value` i.e `(<no of row>,<no of column>)`

In [17]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.shape
#using the shape() to find the no of rows and column in form of tuple

(458, 9)

- There is a `dtype` attribute which provide the `type of pandas Series Object`
- similarly there is a `dtypes` attribute which provide the `type of pandas DF Object` which will return a `Pandas Series Object` with `Key` as `column Name` and `value` as `object stored in the column`
- we can also apply the `dtypes` to the `Pandas Series object` as well
- when we use the `dtype/dtypes` over the `Pandas Series Object` it will return the `single object of dtype` where as for the Pandas DF object it return the `Pandas Series Object`

In [19]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.dtypes
# this will provide each column store which type of values 
#but in case of Pandas Series Object as there is only one column hence we will get the output with One value

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

# <ins> Attribute and Method Specific to the Pandas Series Object will not wortk in Pandas DF object </ins> #

##### <ins> hsnans </ins> ##### 

- `Pandas Series Object` has an attribute called `hasnans` which willk return a boolean value 
- if the `Pandas Series Object` has `NaN` value then it will return `True` else `False`
- this is not applicable to the `Pandas DF object` if we force then we will end up getting the `Attribute Error`

In [23]:
import pandas as pd #importing the pandas module 
df=pd.read_csv("../datasets/nba.csv")
#creating the DataFrame object in this case with multiple row and column value 
# print(df) #printing the Pandas DataFrame object
df.head(n=9) #printing the first 5 object from the DataFrame object
# df1=pd.read_csv("../datasets/nba.csv",usecols=["Name"])
# #creating another DataFrame object which we will convert to the Pandas Series Object 
# nba=df1.squeeze("columns")
# #creating the Series Object using only one column from the DataFrame or DataSets
nba.hasnans # it will return the boolen value based on whether the NaN present or not
# df.hasnans #here it will throw the Attribute Error

True

# <ins> Attribute and Method Specific to the Pandas DF Object will not wortk in Pandas Series object </ins> #

##### <ins> columns </ins> ##### 

- `Pandas DF Object` has the attribute as `columns` which will provide the `index` object in return with all the `column header name`
- in `Pandas DF Object` column `header name` can be considered as the `unique identifier` 
- here the `column header` can be considered as the `collection of identifiers` same as the `index label`
- in other ward we can say as `DF object` has 2 identifier
    - 1 will be the Pandas index label which can identify the rows 
    - other one will be the Pandas `column header` which will identify the specific column 

- if we try to apply the same on the `Pandas Series object` as it has not `column identifier` hence we will be getting the `Attribute Error` in that case

In [27]:
import pandas as pd #importing the pandas Module 
#creating the DataFrame object from pandas module 
df=pd.read_csv("../datasets/nba.csv")
df.columns

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

# <ins> Both Pandas Series Object and DF object common function and attributes </ins> #

##### <ins> axes </ins> ##### 

- `axes` attributes on both the Pandas `Series Object` and `DF object` return all the `indexes` that wil help in extracting a single value out of the Specific object
- the axes attribute return the `List of indexes which help in retriving a value from the Pandas Object`
- in case of the `Pandas Series Object` it a list of `RangeIndex with index label in it`
- in case of the `Pandas DF object` it is a List of `RangeIndex with index label in it and Index with Coulmn header which will identify a single column in it`


##### <ins> info() </ins> ##### 

- the `info` method on pandas `Series Object` and `DF object` can be applied on 
- it return the below output
    
    - it return the whether its a Series Or DataFrame object with module signature 
    - then it return the `index label` as the `Range Index`
    - it also include the `How Many Non Blank are there and What dtype they contains` in case of Pandas Series Object
    - But in case of Pandas DF object it will return the `How Many Non Blank value` based on the column and there respecive `dtype` object
    - both also return `dtypes` attribute result in the return
    - it also show the Memory usage of each type of Object

In [30]:
import pandas as pd
#importing the pandas module in here
df=pd.read_csv("../datasets/nba.csv")
df.axes #checking all the index of the DataFrame object 
df.info() #using the info() on the pandas DF object to get all the info related to the DF object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [32]:
import pandas as pd
#importing the pandas module in here
df=pd.read_csv("../datasets/nba.csv",usecols=["Name"])
#creating the DataFrame object in this case over here with One column
nba=df.squeeze("columns")
#creating the Series Object from DF object 
nba.axes #using the axes attribute on pandas Series Object
nba.info() #using the info() on the Pandas Serie Object to get overall info

<class 'pandas.core.series.Series'>
RangeIndex: 458 entries, 0 to 457
Series name: Name
Non-Null Count  Dtype
--------------  -----
457 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB