In [ ]:
! pip install pandas
#installing the pandas Module

Collecting pandas
  Using cached pandas-2.0.1-cp39-cp39-win_amd64.whl (10.7 MB)
Collecting numpy>=1.20.3
  Using cached numpy-1.24.3-cp39-cp39-win_amd64.whl (14.9 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\psara\miniconda3\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\psara\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3

In [6]:
import pandas as pd
#importing the pandas module in this case
pokemon=pd.read_csv("datasets/pokemon.csv",index_col="Pokemon").squeeze("columns")
# converting the DataFrame Object into the Series Object using the squeeze()
pokemon.value_counts(ascending=True)
# we can also get the value_count in ascending order as this
pokemon.value_counts().sort_values(ascending=True)
# we can also use the sort_values() in order to sort it in the Ascending Order 
pokemon.value_counts().sort_values(ascending=True)[5]
# which will provide the Least 5 number of values which been repeated in the Series
pokemon.value_counts().sort_values(ascending=True).head()
# we can also get the same result using the head() as well

Type
Flying     3
Fairy     17
Steel     22
Ice       23
Ghost     23
Name: count, dtype: int64

# <ins> Usage Of Apply Methods to invoke Function from pandas Series Object </ins> #

- `apply` method allow us to use a function on `every value` of the `Pandas Series Object`
- if we want to run the `len()` on every `values` of the `Pandas Series Object` and want to get the result in the term of `another pandas Series Object`
- `apply()` will apply the `function` onto each single value and provide the result in the term of new Pandas Series Value 
- here the `args` will be a function `object` which we want to provide to each value of the `Pandas Series Object`
- then all the `value` inside the `Pandas Series Object` will be applied with that method to provide the result 
- we will get a `pandas Series Object` in return when we apply the `apply()`

In [4]:
import pandas as pd
#importing the oandas module in here
#creating a custom defined fuinction which will return the classic if the Type belong to `Grass` or `Water`
def foo(x:str)->str:
    if x in ["Grass","Water"]:
        return "classic"
    else:
        return x
df=pd.read_csv("datasets/pokemon.csv",index_col="Pokemon")
#creating the DataFrame object from pandas Library
pokemon=df.squeeze("columns")
#creating the pandas Series Object from the DataFrame object
pokemon.apply(foo)
#using the apply method we are using the method for each value in the pandas series object
# we can also use the python core function as well in here

Pokemon
Bulbasaur     classic
Ivysaur       classic
Venusaur      classic
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object